@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
body{
	font-family: 'Noto Sans TC', sans-serif;
	margin: 0%;
	padding: 0%;
	background: url(https://www.photohdx.com/images/2017/04/dark-green-grungy-background.jpg)top  no-repeat;
}


.navbar{
	background-color: #060A21;
	height: 80px;
	position: relative;
	 border-bottom: 3px solid orange;
}



.django-logo{
	position: absolute;
	height: 60px;
	width: 130px;
	left: 30px;
	top:10px;
	bottom: 5px;
}

.nav-link{
	font-size: 23px;
	color: white;
}

.nav-link:hover{
	color: orange;
}

.carousel{
	border-bottom: 4px solid orange;
}
.carousel-item{
	height: 60%;
}

.carousel-caption {
	 position: absolute;
    top: 50%;
}

.carousel-caption h1{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000,
              -1px 1px 0 #000, 
              1px 1px 0 #000;
	font-size: 3em;
}

.cover-text button{
	position: absolute;
	left: 25%;
}

.panel-table{
	background-color: #060A21;
	border-top: 10px solid #060A21;
	padding: 30px;
}

.jumbotron h4{
	font-size: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.jumbotron{
	text-align: center;
}

