@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
body{
	font-family: 'Noto Sans TC', sans-serif;
	margin: 0%;
	padding: 0%;
	background: url(https://www.photohdx.com/images/2017/04/dark-green-grungy-background.jpg)top  repeat;
}

.navbar{
	background-color: #060A21;
	height: 80px;
	position: relative;
	 border-bottom: 3px solid orange;
}



.game-logo{
	position: absolute;
	height: 60px;
	width: 130px;
	left: 30px;
	top:10px;
	bottom: 5px;
}

.nav-link{
	font-size: 23px;
	color: white;
}

.nav-link:hover{
	color: orange;
}

.carousel{
	border-bottom: 4px solid orange;
}
.carousel-item{
	height: 60%;
}

.carousel-caption {
	 position: absolute;
    top: 30%;
}

.carousel-caption h1{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-shadow: -1px -1px 0 #000, 
               1px -1px 0 #000,
              -1px 1px 0 #000, 
              1px 1px 0 #000;
	font-size: 3em;
}

.wrap{
	background-color: black;
	padding-top: 50px;
	color: white;
}

.profile-img{
    text-align: center;
}
.profile-img img{
    width: 150px;
    height: 150px;
}

.profile-img .file {
    position: absolute;
    overflow: hidden;
    margin-top: 90px;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
	right: 100px;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    top: 0;
}

.list-group-flush{
    padding: 14%;
    margin-top: 50px;
	border-radius: 5px;
}

.list-group-item{
	background-color: transparent;
	color: white;
	font-size: 20px;
}

.list-group-item:hover{
	background-color: orange;
}

.panel-body{
	padding-top: 50px;
	font-size: 20px;
}

.profile-header-img {
    padding-top: 10px;
	padding-left: 25%;
}

.profile-header-img .img-circle {
    width: 100px;
    height: 100px;
    border: 2px solid orange;
	border-radius: 70px;
}

.profile-header-img .username{
	padding-left: 10px;
}

.profile-header-img .username a{
	color: white;
	text-decoration: none;
}

.profile-header-img .username a:hover{
	color: orange;
}

.panel-body .form-control{
	width: 250px;
}

.modal-body .profile-header-img{
	padding-left: 10px;
}

.modal-body button{
	margin-top: 40px;
}
